.posterImage{
    height: 600px;
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}

.posterImage__overlay {
    /* margin-left: 95px; */
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    /* height: 70%; */
    width: 100%;
    height: 285px;
    margin: auto;
    /* width: 404px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    /* background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1)); */
    opacity: 1;
    transition: opacity .3s;
}   

.posterImage__overlay:hover {
    opacity: 1;
}

.posterImage__title {
    font-weight: 700;
    /* font-size: 4rem; */
    font-size: 48px;
    margin-bottom: 0.4rem;
    text-align: left;
}


.posterImage__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 184px;
    height: 17px;
    margin: 1rem 0;
}

.imdb_rating{
    width: 90px;
    height: 17px;
    display: flex;
    justify-content: space-between;
}

.imdb_rating > img{
    /* height: 17px; */
    width: 35px !important;
    /* margin-right: 1px; */
    /* height: 17px; */
    
}
.imdb_rating > .votes{
    width: 56px;
    height: 12px;
}

.rt_rating{
    width: 49px;
    height: 17px;
    display: flex;
    justify-content: space-between;
}
.rt_rating > img{
    width: 16px !important;
    /* height: 17px; */
}
.rt_rating > .votes{
    width: 23px;
    height: 12px;
}

.votes{
    font-size: 12px;
}



.rt_rating > img{
    width: 16px;
    /* height: 17px; */
}

.posterImage__description {
    font-style: italic;
    font-size: 14px;
    /* font-size: 1rem; */
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.posterImage__Trailer{
    height: 36px;
    width: 169px;
}
.posterImage__Trailer > button{
    /* margin-top: 20px; */
    border-radius: 6px;
    padding: 6px 16px;
    background-color: rgba(190, 18, 60, 1);
}
.posterImage__Trailer > button:hover{
    background-color: rgb(154, 7, 44);
}
.play{
    margin-right: 8px;
}